<div class="container-fluid">
  <div class="column col-xs-1">
    <span class="social-kind">{{social-icon model.kind}}</span>
  </div>
  <div class="column col-xs-6 name">
    <span>
      {{fa-icon 'user'}}
      {{model.first_name}} {{model.last_name}}
    </span>
  </div>
  <div class="column col-xs-5 email">
    <span>
      {{fa-icon 'envelope'}}
      {{#if model.email}}
        {{model.email}}
      {{else}}
        unknown
      {{/if}}
    </span>
  </div>
</div>
