<form data-remote="true" onsubmit={{action 'create'}}>
  <fieldset class="form-group">
    <span>{{fa-icon 'location-arrow' title='Location'}}</span>
    <select onchange={{action "selectLocation" value="target.value"}}>
      {{#each locations as |location|}}
        <option value={{location.id}}>
          {{location.name}}
        </option>
      {{/each}}
    </select>
  </fieldset>
  {{partial 'campains/form'}}
  {{input type="submit" class="btn btn-success" value="Create"}}
</form>
