{{#if loading}}
  {{gear-spinner}}
{{else}}
  {{#if emails}}
    <div class="panel panel-info">
      <div class="panel-heading">
        Total: {{emails.length}}
      </div>
      <table class="table">
        <tbody>
          {{#each emails as |email|}}
            <tr>
              <td class="unselectable">{{email}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    {{empty-result}}
  {{/if}}
{{/if}}
