<div class="campaigns-new">
  <form data-remote="true" onsubmit={{action 'create'}}>
    <fieldset class="form-group">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info active" onclick={{action (pipe (action 'changeKind') (action 'changeFilter'))}} kind='sms'>SMS</button>
        <button type="button" class="btn btn-info" onclick={{action (pipe (action 'changeKind') (action 'changeFilter'))}} kind='email'>Email</button>
        <button type="button" class="btn btn-info"  kind='popup'>Pop up</button>
      </div>
    </fieldset>
    {{!-- {{segmentation-filter model=model onSave=(action 'save')}} --}}

    <div class="segmentation-form">

      <h4>Segmentation</h4>

      <div class="form-block">
        <div class="filter ">
          <div class="filter-name">
            <label>Select the type of e-shot you want to send:</label>
          </div>
          <div class="filter-content">
            <select id="visitBaseFilter">
              <option value="">Visit Based</option>
              <option value="">Option 2</option>
              <option value="">Option 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-block">
        <div class="text-l">
          <p class="font-bold">Define your parameters</p>
        </div>
        <div class="filter">
          <div class="filter-name">
            <label>Recipients' gender</label>
          </div>
          <div class="filter-content">
            <select class="gender" name="genderFilter" onchange={{action "changeFilter"}}>
              <option value="all">Male & Female</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
        </div>
        <div class="filter filter-age">
          <div class="filter-name">
            <label>Recipients' age range</label>
          </div>
          <div class="filter-content">
            <span>From</span>
            {{!-- {{input type='text' value=filterAgeMin}} --}}
            <input class="age_min" type="text" onchange={{action "changeFilter"}} placeholder="Enter min. age">
            <span>to</span>
            {{!-- {{input type='text' value=filterAgeMax}} --}}
            <input class="age_max" type="text" onchange={{action "changeFilter"}} placeholder="Enter max. age">
          </div>
        </div>
        <div class="filter">
          <div class="filter-name">
            <label>Recipients have visited</label>
          </div>
          <div class="filter-content">
            <select value="filterLocationId" id="placeFilter">
                <option value="" disabled selected>Select venues</option>
                <option value="place1">place1</option>
                <option value="place2">place2</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-block">
        <div class="filter ">
          <div class="filter-name">
            <label style="font-weight: bold;">Parameter type</label>
          </div>
          <div class="filter-content">
            <input type="radio" name="frequent" value="isLoyial" checked>&nbsp;&nbsp;Previous visitor&nbsp;&nbsp;
            <input type="radio" name="frequent" value="notLoial" >&nbsp;&nbsp;First time visitor&nbsp;&nbsp;
          </div>
        </div>
      </div>
      {{!-- {{#if isLoyial}} --}}
      <div class="form-block ">
        <div class="filter">
          <div class="filter-name">
            <label>This number of times</label>
          </div>
          <div class="filter-content">
            <input id="numberOfVisits" type="text" placeholder="0">
          </div>
        </div>
        <div class="filter">
          <div class="filter-name">
            <label>During the last</label>
          </div>
          <div class="filter-content">
            <input id="numberOfVisits" type="text" placeholder="0">
            <select id="typeOfPeriod">
                <option value="Day"  selected>Day(s)</option>
                <option value="Week">Week(s)</option>
                <option value="Month">Month(s)</option>
            </select>
          </div>
        </div>
      </div>
      {{!-- {{/if}} --}}

    </div>
  <p>Will affect: {{targetsCount.actual}} / {{targetsCount.total}}</p>
  <p> {{filterQueryComputed.usersCountAll}} / {{filterQueryComputed.usersCountActual}}</p>
    {{partial 'campaigns/form'}}
    {{input type="submit" class="btn btn-success" value="Create"}}
  </form>
</div>
