{{#if session.isAuthenticated }}
  {{partial 'side-menu'}}
  <div class="right-part">
    {{partial 'top-menu'}}
    <div class="content-wrapper">
      {{outlet}}
    </div>
  </div>
{{else}}
  {{outlet}}
{{/if}}

