<div class='dashboard'>
  <div>
    <select onchange={{action "selectLocation" value="target.value"}}>
      {{#each locations as |location|}}
        <option value={{location.id}} selected={{eq location.id location_id}}>
          {{location.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div>
    Stard time: {{bootstrap-datepicker value=startTime autoclose=true}}
    End time: {{bootstrap-datepicker value=endTime autoclose=true}}
  </div>
  {{#stats-panel}}
    <div>
      <h3>Total:</h3>
      <ul>
        <li>Visits: {{stats.details.total.visits}}</li>
        <li>Sessions: {{stats.details.total.sessions}}</li>
      </ul>
      <h3>Daily stats:</h3>
      {{data-chart type='column' model=stats showMenu=applicationController.showMenu}}
    </div>
  {{/stats-panel}}
</div>
