<div class='dashboard'>
  <div class='location'>
    <span>{{fa-icon 'location-arrow' title='Location'}}</span>
    <select onchange={{action "selectLocation" value="target.value"}}>
      {{#each model as |location|}}
        <option value={{location.id}} selected={{eq location.id location_id}}>
          {{location.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class='time'>
    <span>{{fa-icon 'calendar'}}</span>
    {{bootstrap-datepicker value=startTime autoclose=true}}
    <span>{{fa-icon 'arrows-h'}}</span>
    {{bootstrap-datepicker value=endTime autoclose=true}}
  </div>
  <div>
    {{#if anyPresence}}
      {{data-chart model=presence.details.per_day}}
      <div class="total">
        <h3>Total</h3>
        <ul>
          <li>Visits: <b>{{presence.details.total.visits}}</b></li>
          <li>Sessions: <b>{{presence.details.total.sessions}}</b></li>
        </ul>
      </div>
    {{else}}
      {{empty-result}}
    {{/if}}
  </div>
</div>
