<div class='dashboard'>
  <div>
    <div class='location'>
      <span>{{fa-icon 'location-arrow' title='Location'}}</span>
      <select onchange={{action "selectLocation" value="target.value"}}>
        {{#each model as |location|}}
          <option value={{location.id}} selected={{eq location.id location_id}}>
            {{location.name}}
          </option>
        {{/each}}
      </select>
    </div>
    <h2>Presence</h2>
    <div class='time'>
      <span>{{fa-icon 'calendar'}}</span>
      {{bootstrap-datepicker value=startTime autoclose=true}}
      <span>{{fa-icon 'arrows-h'}}</span>
      {{bootstrap-datepicker value=endTime autoclose=true}}
    </div>
    {{#if anyPresence}}
      {{data-chart model=presence.details.per_day dataFormatter=presenceDataFormatter options=presenceChartOptions type='column'}}
      <div class="total">
        <h3>Total</h3>
        <ul>
          <li>Visits: <b>{{presence.details.total.visits}}</b></li>
          <li>Signins: <b>{{presence.details.total.sessions}}</b></li>
        </ul>
      </div>
    {{else}}
      {{empty-result}}
    {{/if}}
  </div>
  <hr>
  <div class="column col-md-6 col-sm-12">
    <h2>Signins</h2>
    <button class='btn btn-info' onclick={{action 'toggleQuery' 'query-1'}}><small>Toggle SQL query</small></button>
    <br>
    <small id='query-1' class='query'>
      SELECT source, COUNT(source)
      FROM sessions #{location_cond}
      GROUP BY source;
    </small>
    {{data-chart model=signins.details dataFormatter=signinsDataFormatter options=pieChartOptions type='pie'}}
  </div>
  <div class="column col-md-6 col-sm-12">
    <h2>Platforms</h2>
    <button class='btn btn-info' onclick={{action 'toggleQuery' 'query-2'}}><small>Toggle SQL query</small></button>
    <br>
    <small id='query-2' class='query'>
      SELECT platform
        FROM (
          SELECT distinct(sessions.device_id), platform
          FROM visits
            INNER JOIN sessions
            ON visits.device_id = sessions.device_id
            #{location_cond}

        ) AS by_device;
    </small>
    {{data-chart model=platforms.details dataFormatter=platformsDataFormatter options=pieChartOptions type='pie'}}
  </div>
</div>
