<div class="home">
  <div class="chart-wrapper">
    {{
      data-chart
      model=yearPresence.details
      options=yearPresenceOptions
      dataFormatter=yearPresenceFormatter
      loading=yearPresenceLoading
      type="column"
    }}
  </div>

  <section class="bottom">
    <div class="left-wrapper">
      <div class="stats-wrapper">
        <div class="stat-square" title="Total location's visitors">
          <img src="images/home/visitors.svg">
          <span>
            <h4>Visitors</h4>
            <p id="total-count">{{visitorsStats.total_count}}</p>
          </span>
        </div>
        <div class="stat-square" title="Known visitors emails">
          <img src="images/home/emails.svg">
          <span>
            <h4>Emails</h4>
            <p id="emails">{{visitorsStats.emails}}</p>
          </span>
        </div>
        <div class="stat-square" title="Known visitors phone numbers">
          <img src="images/home/sms.svg">
          <span>
            <h4>SMS</h4>
            <p id="phone-numbers">{{visitorsStats.phone_numbers}}</p>
          </span>
        </div>
      </div>
      <div class="current-campaign">
        <h3>Current campaign</h3>
        {{#if lastCampaign.message}}
          <p>{{{lastCampaign.message}}}</p>
          {{!-- {{#unless lastCampaign.approved}}
            {{#link-to 'campaigns.edit' lastCampaign}}<div class="btn btn-success">Edit</div>{{/link-to}}
          {{/unless}} --}}
        {{else}}
          <p>There is no campaigns yet</p>
        {{/if}}
      </div>
    </div>
    <div class="tips">
      <h4>Tip of the day</h4>
      <p>
         Set every bill you can to auto-pay. This eliminates late fees and other headaches, and prevents paper bills from cluttering your desk
      </p>
    </div>
  </section>
</div>
