<div class="menu">
  <div class="logo">
    <img src="images/logo.png">
  </div>
  {{#if session.isAuthenticated }}
    {{#link-to 'dashboard'}}{{fa-icon 'dashboard' title='Dashboard'}}{{/link-to}}
    {{#link-to 'visitors'}}{{fa-icon 'user' title="Visitors info"}}{{/link-to}}
{{!--     {{#link-to 'campaings'}}{{fa-icon 'envelope' title="Campaings"}}{{/link-to}} --}}
    <span class="email">{{currentUser.email}}</span>
    {{#link-to 'sign-out' class="btn btn-warning"}}
      Sign out
    {{/link-to}}
  {{else}}
    {{#link-to 'sign-in' class="btn btn-success"}}
      <span>Sign in</span>
    {{/link-to}}
  {{/if}}
</div>
