<div class="menu">
  {{#if session.isAuthenticated }}
    {{#link-to 'dashboard'}}{{fa-icon 'dashboard' title='Dashboard'}}{{/link-to}}
    {{#link-to 'visitors'}}{{fa-icon 'user' title="Visitors stats"}}{{/link-to}}
    {{#link-to 'campains'}}{{fa-icon 'envelope' title="Campains"}}{{/link-to}}
    <span class="email">{{currentUser.email}}</span>
    <button class="btn btn-warning" {{ action 'invalidateSession' }}>
      Sign out
    </button>
  {{else}}
    {{#link-to 'sign-in' class="btn btn-success"}}
      <span>Sign in</span>
    {{/link-to}}
  {{/if}}
</div>
