<form {{action "signIn" on="submit"}}>
  <img src="images/blue_logo.png">
  <p>Welcome to SIMP dashboard</p>
  <p>let's see wat simp has to show</p>
  {{#if error}}
    <div class="alert alert-danger">
      {{error.message}}
    </div>
  {{/if}}
  <div class="form-group">
    {{fa-icon 'user'}}
    {{input type='email' value=email placeholder='Name' required=true}}
  </div>
  <div class="form-group">
    {{fa-icon 'lock'}}
    {{input type='password' value=password placeholder='Password' required=true}}
  </div>
  {{input type="submit" value="Sign in" class="btn btn-success"}}
</form>
