<div class="stats">
  <section class="left">
    <div class="stats-wrapper">
      <div class="stat-square" title="Online visitors (authorized during last 4 hours)">
        <img src="images/stats/online.svg">
        <span>
          <p>Online</p>
          <p id="online">{{visitorsStats.online}}</p>
        </span>
      </div>
      <div class="stat-square" title="Visitors with more than 2 visits">
        <img src="images/stats/loyals.svg">
        <span>
          <p>Loyals</p>
          <p id="loyals">{{visitorsStats.loyals}}</p>
        </span>
      </div>
      <div class="stat-square" title="Known visitors emails">
        <img src="images/stats/emails.svg">
        <span>
          <p>Emails</p>
          <p id="emails">{{visitorsStats.emails}}</p>
        </span>
      </div>
      <div class="stat-square" title="Known visitors emails">
        <img src="images/stats/numbers.svg">
        <span>
          <p>Numbers</p>
          <p id="phone-numbers">{{visitorsStats.phone_numbers}}</p>
        </span>
      </div>
    </div>
    {{
      data-chart
      model=monthPresence.details
      options=monthPresenceOptions
      dataFormatter=monthPresenceFormatter
      type="column"
    }}
    {{
      data-chart
      model=dayPresence.details
      options=dayPresenceOptions
      dataFormatter=dayPresenceFormatter
      type="line"
    }}
  </section>
  <section class="right">
    {{
      data-chart
      model=signins.details
      options=pieChartOptions
      dataFormatter=signinsFormatter
      type="pie"
    }}
    {{
      data-chart
      model=genders.details
      options=gendersChartOptions
      dataFormatter=gendersFormatter
      type="pie"
    }}
  </section>
</div>
