<div class="row">
  <div class="column col-md-8 col-sm-12">
    <div class="row">
      <div class="column col-xs-6">
        <img src="images/stats/online.svg">
        <span>
          <h4>Online</h4>
          <p id="online">{{visitorsStats.online}}</p>
        </span>
      </div>
      <div class="column col-xs-6">
        <img src="images/stats/loyals.svg">
        <span>
          <h4>Loyals</h4>
          <p id="loyals">{{visitorsStats.loyals}}</p>
        </span>
      </div>
    </div>
    <div class="row">
      {{
        data-chart
        model=monthPresence.details
        options=monthPresenceOptions
        dataFormatter=monthPresenceFormatter
        type="column"
      }}
    </div>
  </div>
  <div class="column col-md-4 col-sm-12 signins-chart">
    {{
      data-chart
      model=signins.details
      options=pieChartOptions
      dataFormatter=signinsFormatter
      type="pie"
    }}
  </div>
</div>
<div class="row">
  <div class="column col-md-8 col-sm-12">
    {{
      data-chart
      model=dayPresence.details
      options=dayPresenceOptions
      dataFormatter=dayPresenceFormatter
      type="line"
    }}
  </div>
  <div class="column col-md-4 col-sm-12 genders-chart">
    {{
      data-chart
      model=genders.details
      options=gendersChartOptions
      dataFormatter=gendersFormatter
      type="pie"
    }}
  </div>
</div>
