<div class="top-stripe">
  {{#if session.isAuthenticated }}
    <button class="btn btn-warning" {{ action 'invalidateSession' }}>
      Sign out
    </button>
  {{else}}
    {{#link-to 'sign-in' class="btn btn-success"}}
      <span>Sign in</span>
    {{/link-to}}
  {{/if}}

  {{fa-icon 'flag'}}
  {{fa-icon 'bell'}}
  {{fa-icon 'bars' click=(action 'toggleMenu')}}
</div>
