<div class='visitors'>
  <div class='location'>
    <span>{{fa-icon 'location-arrow' title='Location'}}</span>
    <select onchange={{action "selectLocation" value="target.value"}}>
      {{#each locations as |location|}}
        <option value={{location.id}} selected={{eq location.id location_id}}>
          {{location.name}}
        </option>
      {{/each}}
    </select>
  </div>
  <div class="container-fluid">
    <div class="row">
      {{#each visitors as |visitor|}}
        <div class="column col-xs-2 col-md-4 col-sm-12">{{visitor-info model=visitor}}</div>
      {{else}}
        {{empty-result}}
      {{/each}}
    </div>
  </div>
</div>

