{{testVisitor.visit.device_id}}
{{testVisitor.phone}}
<div class='visitors'>
  <select onchange={{action "selectLocation" value="target.value"}}>
    {{#each locations as |location|}}
      <option value={{location.id}} selected={{eq location.id location_id}}>
        {{location.name}}
      </option>
    {{/each}}
  </select>
  <br>
  <ul class="visitors-list">
    {{#each visitors as |visitor|}}
      <li>{{visitor-info model=visitor}}</li>
    {{else}}
      No visitors found
    {{/each}}
  </ul>
</div>

